<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="user_dataConnectionString" connectionString="Data Source=fsbsql8.it.muohio.edu;Initial Catalog=user_data;Persist Security Info=True;User ID=schweitj;Password=Saun2250"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
</configuration>